.DS_Store
.Trashes
.Spotlight-V100
._*
Thumbs.db
*.sublime-project
*.sublime-workspace


node_modules/
/node_modules
__pycache__/
*.pyc

# Build artifacts
/dist
/build

.idea/ 
.vscode/

# Log files
*.log

# Temporary files
*.tmp
temp/

# Sensitive information (e.g., environment variables)
.env
