body {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: background 1s ease-in-out;
    margin: 0;
    background: radial-gradient(#dadada26, #aaa8a800, #00000063);
    background-color: black;
    padding: 0;
    height: 100vh;
    font-family: sans-serif;
}

#color-name {
    cursor: pointer;
    margin-bottom: 10%;
    padding: 0 20px;
    font-weight: bold;
    font-size: clamp(50px, 10vw, 120px);
    user-select: none;
    text-align: center;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4), -2px -2px 5px rgba(255, 255, 255, 0.4);
    text-transform: uppercase;
    word-wrap: break-word;
    display: block;
    opacity: 1;
    transition: all 1s ease-in-out;
    overflow-wrap: break-word;
}


.fade-out {
    opacity: 0 !important;
    transition: all 1s ease-in-out;
    color: transparent !important;
    text-shadow: none !important;
}

/* Styles for mobile devices */
@media (max-width: 767px) {
    #color-name {
        margin-bottom: 50%;
        font-size: clamp(50px, 5vw, 120px);
    }
}

@media (max-width: 480px) {
    #color-name {
        margin-bottom: 50%;
        font-size: clamp(50px, 4vw, 120px);
    }
}